[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/NERDCommenter"]
	path = vim/bundle/NERDCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/ConqueTerm"]
	path = vim/bundle/ConqueTerm
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "vim/bundle/SQLUtilities"]
	path = vim/bundle/SQLUtilities
	url = https://github.com/vim-scripts/SQLUtilities.git
